<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" href="../css/settings.css">

	<link href="../js/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
	<link href="../js/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">

	<link href="../js/vendor/select2/select2.min.css" rel="stylesheet" media="all">
    <link href="../js/vendor/select2/slimselect.min.css" rel="stylesheet" media="all">

	<% if (admin) { %>
		<title><%= admin.first_name %> <%= admin.last_name %> | Lagman Qualicare Family Clinic</title>
</head>
<body>
	
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="/dashboard" class="brand"><img class='logo' src="../../assets/images/logo/logo.png"></a>
		<ul class="side-menu">
			<li><a href="/dashboard"><i class='bx bxs-dashboard icon' ></i> Dashboard</a></li>
			<li class="divider" data-text="main">Main</li>
			
			<li><a href="/doctors"><i class='bx bxs-face icon' ></i> Doctors</a></li>
			
			<li><a href="/staffs" class="active"><i class='bx bxs-contact icon' ></i> Staffs</a></li>
			<li><a href="/patients"><i class='bx bxs-user icon' ></i> Patients</a></li>
			
			<li><a href="/appointments"><i class='bx bxs-book-heart icon' ></i> Appointments</a></li>
			
			<li><a href="/branches"><i class='bx bxs-map icon' ></i> Branches</a></li>

			<li><a href="/logs"><i class='bx bxs-note icon' ></i> Logs</a></li>
		</ul>
	</section>
	<!-- SIDEBAR -->

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu toggle-sidebar' ></i>
			<form action="#">
			</form>
			
			<span class="divider"></span>
			<div class="profile">
				
				<img src="uploads/<%= admin.id %>.png" alt="User Img" onerror="this.onerror=null;this.src='files/male-avatar.png';"><ul class="profile-link">
					<form action="/profile" method="GET">
						<li><button type="submit"><i class='bx bxs-user-circle icon' ></i> Profile</button></li>
					</form>
					<form action="/settings" method="GET">
						<li><button type="submit"><i class='bx bxs-cog' ></i> Settings</button></li>
					</form>
					<form action="/logout?_method=DELETE" method="POST">
						<li><button type="submit"><i class='bx bxs-log-out-circle' ></i> Logout</button></li>
					</form>
					
				</ul>
			</div>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<section class="ftco-section">
				
				<div class="container">
					
			<h1 class="title">Add Staff</h1>
					<form action="/add-staff" method="POST">
						<div class="bg-white shadow rounded-lg d-block d-sm-flex">
							<div class="profile-tab-nav border-right">
								<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
									<a class="nav-link active" id="account-tab" data-toggle="pill" href="#account" role="tab" aria-controls="account" aria-selected="true">
										<i class="fa fa-info text-center mr-1"></i> 
										Information
									</a>
									<a class="nav-link" id="application-tab" data-toggle="pill" href="#roles" role="tab" aria-controls="application" aria-selected="false">
										<i class="fa fa-tasks text-center mr-1"></i> 
										Roles
									</a>
									<a class="nav-link" id="password-tab" data-toggle="pill" href="#password" role="tab" aria-controls="password" aria-selected="false">
										<i class="fa fa-key text-center mr-1"></i> 
										Security
									</a>
									<a class="nav-link" id="notification-tab" data-toggle="pill" href="#deactivation" role="tab" aria-controls="notification" aria-selected="false">
										<i class="fa fa-cog text-center mr-1"></i> 
										Confirm
									</a>
								</div>
							</div>
							<div class="tab-content p-4 p-md-5" id="v-pills-tabContent">
								<div class="tab-pane fade show active" id="account" role="tabpanel" aria-labelledby="account-tab">
									<h3 class="mb-4">Information Settings</h3>
									<% if(typeof alert != 'undefined') { %>
										<% alert.forEach(function(error) { %>
									  <div class="alert">
										<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
										<p class="error-msg"><%= error.msg %></p>
									  </div>
				   
								   <% }) %>
									<% } %>
									<div class="row">
										<div class="col-md-6">
											<div class="text-group">
												  <label>First Name</label>
												  <input type="text" name="first_name" class="form-control" placeholder="Enter First Name..." required>
											</div>
										</div>
										<div class="col-md-6">
											<div class="text-group">
												  <label>Last Name</label>
												  <input type="text" name="last_name" class="form-control" placeholder="Enter Last Name..." required>
											</div>
										</div>
										<div class="col-md-6">
											<div class="text-group">
												  <label>Email</label>
												  <input type="email" name="email" class="form-control" placeholder="Enter Email..." required>
											</div>
										</div>
										<div class="col-md-6">
											<div class="text-group">
												  <label>Phone</label>
												  <input type="number" id="phone" name="phone" class="form-control" placeholder="Enter Number..." required>
											</div>
										</div>
	
										<div class="col-md-4">
											<div class="text-group">
												<label class="label">Birthday</label>
												<div class="input-group-icon">
												   <input class="input--style-4 js-datepicker" type="date" name="birthday" id="date-no-future" placeholder="Enter Birthday..." required>
												</div>
											</div>
										 </div>
										 <div class="col-4">
											<div class="text-group">
											 <label>Status</label>
											 <div class="rs-select2 js-select-simple select--no-search">
												<select name="status" required>
												   <option disabled="disabled">Choose option</option>
												   <option selected="selected">Single</option>
												   <option>Married</option>
												   <option>Divorced</option>
												</select>
												<div class="select-dropdown"></div>
											 </div>
											</div>
										 </div>
										 <div class="col-md-4">
											<div class="text-group">
											   <label>Sex</label>
											   <div class="p-t-10">
												  <label class="radio-container m-r-45">Male
												  <input type="radio" checked="checked" name="sex" value="Male">
												  <span class="checkmark"></span>
												  </label>
												  <label class="radio-container">Female
												  <input type="radio" name="sex" value="Female">
												  <span class="checkmark"></span>
												  </label>
											   </div>
											</div>
										 </div>
									</div>
								</div>
								<div class="tab-pane fade" id="roles" role="tabpanel" aria-labelledby="application-tab">
									<h3 class="mb-4">Roles Settings</h3>
									<div class="row">
										<div class="col-md-12">
											<label>Assigned Branch</label>
											<select id="branches" class="form-control" name="branch" required>
												<% branch.forEach(function(branches){ %>
												<option value="<%= branches.branch_name %>" ><%= branches.branch_name %></option>
												<% }); %> 
											</select>
											</div>
									</div>
								</div>
								<div class="tab-pane fade" id="password" role="tabpanel" aria-labelledby="password-tab">
									<h3 class="mb-4">Security Settings</h3>
									<div class="row">
										<div class="col-md-6">
											<div class="text-group">
												  <label>New password</label>
												  <input type="password" name="password" class="form-control" required>
											</div>
										</div>
										<div class="col-md-6">
											<div class="text-group">
												  <label>Confirm new password</label>
												  <input type="password" name="confirm_password" class="form-control" required>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-pane fade" id="deactivation" role="tabpanel" aria-labelledby="notification-tab">
									<h3 class="mb-4">Confirm Add Staff</h3>
									<div class="row">
										<div class="col-md-12">
											<div class="text-group">
												<p>If you wish to add this staff's account profile in database. Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore vero enim error similique quia numquam ullam corporis officia odio repellendus aperiam consequatur laudantium porro voluptatibus, itaque laboriosam veritatis voluptatum distinctio!</p>
											</div>
										</div>
									</div>
									<div>
										<input type="submit" class="btn btn__primary btn__rounded ml-30" value="Add Staff">
									</div>
								</div>
								
								
							</div>
						</div>
					</form>
					
				</div>



			</section>
			<% } %> 
		</main>
	<!-- NAVBAR -->

	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
	<script src="assets/js/script.js"></script>

	<!-- Patients JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.21.0/slimselect.js'></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

	<!-- Settings JS -->
	<script src="assets/js/vendor/jquery/jquery.min.js"></script>
	<script src="assets/js/vendor/select2/select2.min.js"></script>
	<script src="assets/js/global.js"></script>
	
	<!-- Multiple Select JS-->

	
	<script>
		new SlimSelect({
		  select: '#branches'
		  });
	</script>

<script>

function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            $('#imagePreview').css('background-image', 'url('+e.target.result +')');
            $('#imagePreview').hide();
            $('#imagePreview').fadeIn(650);
        }
        reader.readAsDataURL(input.files[0]);
    }
}
$("#doctorUpload").change(function() {
    readURL(this);
});

 </script>

<script>
	window.onload = function(){
		var el = document.getElementsByClassName('toggle-sidebar');
		for (var i=0;i<el.length; i++) {
		el[i].click();
	}
	
	}
	var max_chars = 11;

         $('#phone').keydown( function(e){
            if ($(this).val().length >= max_chars) { 
               $(this).val($(this).val().substr(0, max_chars));
            }
         });

         $('#phone').keyup( function(e){
            if ($(this).val().length >= max_chars) { 
               $(this).val($(this).val().substr(0, max_chars));
            }
         });
	</script>

<script>
	$(function(){
	 var dtToday = new Date();
 
	 var month = dtToday.getMonth() + 1;
	 var day = dtToday.getDate();
	 var year = dtToday.getFullYear();
 
	 if(month < 10)
		 month = '0' + month.toString();
	 if(day < 10)
		 day = '0' + day.toString();
 
	 var maxDate = year + '-' + month + '-' + day;    
	 $('#date-no-future').attr('max', maxDate);
 });
 </script>
	 
</body>
</html>