<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/appointments-style.css">
	<link href="../js/vendor/select2/select2.min.css" rel="stylesheet" media="all">
	<link href="assets/images/favicon/favicon.png" rel="icon">
	<link href="../js/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
	<link href="../js/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">


	<% if (doctor) { %>
		<title><%= doctor.first_name %> <%= doctor.last_name %> | Lagman Qualicare Family Clinic</title>
</head> 
<body>
	
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="/dashboard" class="brand"><img class='logo' src="../../assets/images/logo/logo.png"></a>
		<ul class="side-menu">
			<li><a href="/dashboard" ><i class='bx bxs-dashboard icon' ></i> Dashboard</a></li>
			<li class="divider" data-text="main">Main</li>
			<li><a href="/appointments" class="active"><i class='bx bxs-book-heart icon' ></i> Appointments</a></li>
			<li><a href="/diagnosed-records"><i class='bx bxs-book-content icon' ></i>Diagnosed<br>Records</a></li>
			<li><a href="/patients"><i class='bx bxs-user icon' ></i> Patients</a></li>
		</ul>
	</section>
	<!-- SIDEBAR -->

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu toggle-sidebar' ></i>
			<form action="#">
			</form>
			
			<span class="divider"></span>
			<div class="profile">
				
				<% if(!doctor.img.contentType){ %>.
					<img src="files/male-avatar.png" alt="User Img">
				<% } else { %>
					<img src="data:image/<%=doctor.img.contentType%>;base64,<%=doctor.img.data.toString(base)%>" alt="User Img">
				<% } %>
				
				<ul class="profile-link">
					<form action="/profile" method="GET">
						<li><button type="submit"><i class='bx bxs-user-circle icon' ></i> Profile</button></li>
					</form>
					<form action="/settings" method="GET">
						<li><button type="submit"><i class='bx bxs-cog' ></i> Settings</button></li>
					</form>
					<form action="/logout?_method=DELETE" method="POST">
						<li><button type="submit"><i class='bx bxs-log-out-circle' ></i> Logout</button></li>
					</form>
					
				</ul>
			</div>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>

			<section class="ftco-section">
			<div class="container">
				<h1 class="title">Appointments</h1>
				<% if(typeof msg != 'undefined') { %>
					<% if(msg) { %>
					<div class="alert-<%= type %>">
						<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
						<p class="error-msg"><%= msg %></p>
					</div>
					<% } %>
					<% } %>
					<div class="row">
						<div class="col-sm-9 col-md-9">
							<form action="#">
							<div class="form-group">
								<input type="text" id="search" placeholder="Search...">
							</div>
							</form>
						</div>
						<div class="col-sm-3 col-md-3">
							<p><input type="checkbox" class="mt-3 ml-2 custom-checkbox" id="showTodayOnly" onclick="showToday()">
								Show today's appointments only</p>
						</div>
					</div>
	

			</div>
			<section class="ftco-section">
				<div class="container">

					<div class="tabs">
  
						<input type="radio" id="tab1" name="tab-control" checked>
						<input type="radio" id="tab2" name="tab-control">
						<hr>
						<ul>
						  <li title="normal"><label for="tab1" role="button"><span>Without Infectious Symptoms</span></label></li>
						  <li title="positive"><label for="tab2" role="button"><span>With Infectious Symptoms</span></label></li>
							
						</ul>
						<hr>
		
						<div class="content">
		
							<!-- NOT POSITIVE SECTION-->
							<section>
								<div class="row">
									<% appointment.reverse().forEach(function(appointments){ %>
									<% if( appointments.pre_diagnose_result == "Patient Has Non Infectious Symptoms" && appointments.appointment_status != "Cancelled" && appointments.branch == doctor.branch1 && appointments.approved_staff || appointments.pre_diagnose_result == "Patient Has Non Infectious Symptoms" && appointments.appointment_status != "Cancelled" && appointments.branch == doctor.branch2 && appointments.approved_staff) { %> 
									<div class="searchhide">
										<div class="card p-3 mb-4">
											<div class="d-flex justify-content-between mb-4">
												<div class="user-info">
													<div class="user-info__img">
														<img src="uploads/<%= appointments.img_id %>.png" alt="User Img" onerror="this.onerror=null;this.src='files/male-avatar.png';">
													</div>
													<div class="user-info__basic">
														<h6 class="mb-0"><%= appointments.img_id %></h6>
														<h5 class="text-highlight mb-0"><%= appointments.first_name %> <%= appointments.last_name %></h5>
														<p class="text-muted mb-0"><%= appointments.age %> yrs | <%= appointments.sex %></p>
													</div>
												</div>
												<div class="dropdown open">
													<a href="#!" class="px-2" id="b<%= appointments.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-ellipsis-v"></i>
													</a>
													<div class="dropdown-menu dropdown-menu-right" aria-labelledby="<%= appointments.id %>">
														<a class="dropdown-item" href="/diagnose-patient/<%= appointments._id %>"><i class="fa fa-check mr-1"></i> Diagnose Patient</a>
													</div>
												</div>
											</div>
											<div class="btn-records">
												<a class="button record-button" href="#!" id="triggerId1" data-toggle="modal" data-target="#a<%= appointments._id %><%= appointments.appointment_status %>" aria-haspopup="true" aria-expanded="false">View Appointment Info</a>
											</div>
											<hr>
											<% if(appointments.isConfirmed == true){%> 
												<p class="text-success center"><b><%= appointments.first_name %></b> have confirmed to go to the scheduled appointment.
											<hr>
											<% } %> 
											<div class="d-flex justify-content-between">
												<span class="text-primary font-weight-bold mt-3"><%= appointments.appointment_status %></span>
												<div>
													<h5 class="mb-0"><%= appointments.time %>
													</h5>
													<medium class="mb-0"><%= appointments.date %></medium>
												</div>
											</div>
										</div>
									</div>
									
									
								<!-- ============================
											APPOINTMENT VIEW CARD
										============================== -->
					
					
										<div class="modal fade" id="a<%= appointments._id %><%= appointments.appointment_status %>" tabindex="-1" role="dialog">
											<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content">
												<div class="p-4">
													<div class="d-flex justify-content-between mb-4">
														<div class="user-info">
															<div class="user-info__img">
																	<img src="uploads/<%= appointments.img_id %>.png" alt="User Img" onerror="this.onerror=null;this.src='files/male-avatar.png';">
															</div>
															<div class="user-info__basic">
																<h6 class="mb-0"><%= appointments.img_id %></h6>
																<h5 class="text-highlight mb-0"><%= appointments.first_name %> <%= appointments.last_name %></h5>
																<p class="text-muted mb-0"><%= appointments.age %> yrs | <%= appointments.sex %></p>
															</div>
														</div>
														<div class="dropdown open">
															<a href="#!" class="px-2" id="b<%= appointments.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																<i class="fa fa-ellipsis-v"></i>
															</a>
															<div class="dropdown-menu dropdown-menu-right" aria-labelledby="<%= appointments.id %>">
																<a class="dropdown-item" href="/diagnose-patient/<%= appointments._id %>"><i class="fa fa-check mr-1"></i> Diagnose Patient</a>
															</div>
														</div>
													</div>
														<p class="font-weight-bold text-info center"><%= appointments.service %></p>
														<hr>
														<div class="row">
															<div class="col-md-6 col-xs-6 col-sm-6">
																	<center>
																	<p class="text-muted mb-0 mt-2">Primary Phone</p>
																	<h6 id="first_num"><%= appointments.phone %></h6>
																	</center>
															</div>
															<div class="col-md-6 col-xs-6 col-sm-6">
																	<center>
																	<p class="text-muted mb-0 mt-2">Secondary Phone</p>
																	<h6 id="second_num"></h6>
																	</center>
																	<script>
																		var second_num = document.getElementById("second_num").textContent;
																		if (second_num.length === 0 ) {
																		document.getElementById("second_num").innerHTML = "None";
																		}
																	</script>
															</div>
														</div>
														<hr>
														<p class="text-muted"  style="display:inline">Branch: </p>
														<h6 class="black" style="display:inline"><%= appointments.branch %></h6><br>
														<hr>
														<p class="text-success font-weight-bold text-primary"><%= appointments.pre_diagnose_result %></p>
														<hr>
												
													<div class="d-flex justify-content-between">
														<div>
														<span class="text-primary font-weight-bold mt-4"><%= appointments.appointment_status %></span><br>
														<small class="text-secondary font-weight-bold">by <%= appointments.approved_staff %></small>
														</div>
														<div>
															<h5 class="mb-0"><%= appointments.time %>
															</h5>
															<medium class="mb-0"><%= appointments.date %></medium>
														</div>
													</div>
												</div>
										</div>
									</div>
								</div>
									<%  } %> 
								<% }); %> 
									
								</div>
							</section>
									
							 <!-- END OF NOT POSITIVE SECTION-->
							
		
							<!-- POSITIVE SECTION-->
						<section>
							<div class="row">
								<% appointment.reverse().forEach(function(appointments){ %>
								<% if( appointments.pre_diagnose_result == "Patient Has Infectious Symptoms" && appointments.appointment_status != "Cancelled" && appointments.approved_staff && appointments.branch == doctor.branch1 || appointments.pre_diagnose_result == "Patient Has Infectious Symptoms" && appointments.appointment_status != "Cancelled" && appointments.approved_staff && appointments.branch == doctor.branch2) { %> 
								<div class="searchhide">
									<div class="card p-3 mb-4">
										<div class="d-flex justify-content-between mb-4">
											<div class="user-info">
												<div class="user-info__img">
													<img src="uploads/<%= appointments.img_id %>.png" alt="User Img" onerror="this.onerror=null;this.src='files/male-avatar.png';">
												</div>
												<div class="user-info__basic">
													<h6 class="mb-0"><%= appointments.img_id %></h6>
													<h5 class="text-highlight mb-0"><%= appointments.first_name %> <%= appointments.last_name %></h5>
													<p class="text-muted mb-0"><%= appointments.age %> yrs | <%= appointments.sex %></p>
												</div>
											</div>
															
											<div class="dropdown open">
												<a href="#!" class="px-2" id="b<%= appointments.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													<i class="fa fa-ellipsis-v"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-right" aria-labelledby="<%= appointments.id %>">
													<a class="dropdown-item" href="/diagnose-patient/<%= appointments._id %>"><i class="fa fa-check mr-1"></i> Diagnose Patient</a>
												</div>
											</div>
										</div>
										<div class="btn-records">
											<a class="button record-button" href="#!" id="triggerId1" data-toggle="modal" data-target="#a<%= appointments._id %><%= appointments.appointment_status %>" aria-haspopup="true" aria-expanded="false">View Appointment Info</a>
										</div>
										<hr>
										<% if(appointments.isConfirmed == true){%> 
											<p class="text-success center"><b><%= appointments.first_name %></b> have confirmed to go to the scheduled appointment.
										<hr>
										<% } %> 
										<div class="d-flex justify-content-between">
											<span class="text-primary font-weight-bold mt-3"><%= appointments.appointment_status %></span>
											<div>
												<h5 class="mb-0"><%= appointments.time %>
												</h5>
												<medium class="mt-0"><%= appointments.date %></medium>
											</div>
										</div>
									</div>
								</div>
		
								
								
								
							<!-- ============================
										APPOINTMENT VIEW INFO
										============================== -->
					
					
										<div class="modal fade" id="a<%= appointments._id %><%= appointments.appointment_status %>" tabindex="-1" role="dialog">
											<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content">
												<div class="p-4">
													<div class="d-flex justify-content-between mb-4">
														<div class="user-info">
															<div class="user-info__img">
																	<img src="uploads/<%= appointments.img_id %>.png" alt="User Img" onerror="this.onerror=null;this.src='files/male-avatar.png';">
															</div>
															<div class="user-info__basic">
																<h6 class="mb-0"><%= appointments.img_id %></h6>
																<h5 class="text-highlight mb-0"><%= appointments.first_name %> <%= appointments.last_name %></h5>
																<p class="text-muted mb-0"><%= appointments.age %> yrs | <%= appointments.sex %> | <%= appointments.phone %></p>
															</div>
														</div>
																<div class="dropdown open">
																	<a href="#!" class="px-2" id="<%= appointments.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																		<i class="fa fa-ellipsis-v"></i>
																	</a>
																	<div class="dropdown-menu dropdown-menu-right" aria-labelledby="<%= appointments.id %>">
																		<a class="dropdown-item" href="/diagnose-patient/<%= appointments._id %>"><i class="fa fa-check mr-1"></i> Diagnose Patient</a>
																	</div>
																</div>
													</div>
													<p class="font-weight-bold text-info center"><%= appointments.service %></p>
														<hr>
														<div class="row">
															<div class="col-md-6 col-xs-6 col-sm-6">
																	<center>
																	<p class="text-muted mb-0 mt-2">Primary Phone</p>
																	<h6 id="first_num"><%= appointments.phone %></h6>
																	</center>
															</div>
															<div class="col-md-6 col-xs-6 col-sm-6">
																	<center>
																	<p class="text-muted mb-0 mt-2">Secondary Phone</p>
																	<h6 id="second_num1"></h6>
																	</center>
																	<script>
																		var second_num = document.getElementById("second_num1").textContent;
																		if (second_num.length === 0 ) {
																		document.getElementById("second_num1").innerHTML = "None";
																		}
																	</script>
															</div>
														</div>
														<hr>
														<p class="text-muted"  style="display:inline">Branch: </p>
														<h6 class="black" style="display:inline"><%= appointments.branch %></h6><br>
														<hr>
														<div id="records-dropdown">
															<a class="py-2 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary"
															data-toggle="collapse" href="#symptoms" role="button">	
															<p class="text-success font-weight-bold text-primary"><%= appointments.pre_diagnose_result %></p>
															<p>Detected Symptoms = <%= appointments.symptoms_detected %></p>
															<div class="position-relative">
																<small class="ml-1 font-weight-bold">Click to View Symptoms</small>
																<div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
																<i class="fa fa-plus"></i>
																</div>
															</div>
															</a>
															<div class="collapse" id="symptoms">
																<span id="symptoms-if-none"></span>
																<p><%= appointments.exp_symptoms %></p>
															</div>
														</div>
														<hr>
														<div class="d-flex justify-content-between">
															<div>
															<span class="text-primary font-weight-bold mt-4"><%= appointments.appointment_status %></span><br>
															<small class="text-secondary font-weight-bold">by <%= appointments.approved_staff %></small>
															</div>
															<div>
																<h5 class="mb-0"><%= appointments.time %>
																</h5>
																<medium class="mb-0"><%= appointments.date %></medium>
															</div>
														</div>
												</div>
											</div>
											</div>
										</div>
								
							</div>

								<% } %> 
							<% }); %> 
								
							</div>
							</section>
								
							</div>
						
						</section>
							<!-- END OF POSITIVE SECTION-->
		
		
						</main>
			</section>
			<% } %> 
	<!-- NAVBAR -->
	
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

	<script src="assets/js/vendor/jquery/jquery.min.js"></script>
      <script src="assets/js/vendor/select2/select2.min.js"></script>
      <script src="assets/js/global.js"></script>
	  <script src="assets/js/script.js"></script>

	<!-- Patients JS -->

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>

	<script>
		window.onload = function(){
			var el = document.getElementsByClassName('toggle-sidebar');
			for (var i=0;i<el.length; i++) {
			el[i].click();
		}
		
		}
		</script>

<script>
	$(document).ready(function(){
		$('#search').keyup(function(){
		
		// Search text
		var text = $(this).val();
		
		// Hide all content class element
		$('.searchhide').hide();

		// Search 
		$('.searchhide:contains("'+text+'")').closest('.searchhide').show();
		
		});
	});

	$.expr[":"].contains = $.expr.createPseudo(function(arg) {
		return function( elem ) {
		return $(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
		};
	});
</script>

<script>
	function showToday() {
	  var checkBox = document.getElementById("showTodayOnly");

	  if (checkBox.checked == true){

		var objToday = new Date(),
		dayOfMonth = today + ( objToday.getDate() < 10) ? '0' + objToday.getDate() : objToday.getDate(),
		months = new Array('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'),
		curMonth = months[objToday.getMonth()],
		curYear = objToday.getFullYear();

		var today = curMonth + " " + dayOfMonth + ", " + curYear;
		
		// Hide all content class element
		$('.searchhide').hide();

		// Search 
		$('.searchhide:contains("'+today+'")').closest('.searchhide').show();
		
	  } else {
		$('.searchhide').show();
	
	  }
	}
</script>

</body>
</html>