<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="../css/appointments-for-doctor.css">
	<link href="../js/vendor/select2/select2.min.css" rel="stylesheet" media="all">
	<link href="assets/images/favicon/favicon.png" rel="icon">
	<link href="../js/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
	<link href="../js/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">


	<% if (doctor) { %>
		<title><%= doctor.first_name %> <%= doctor.last_name %> | Lagman Qualicare Family Clinic</title>
</head> 
<body>
	
	<!-- SIDEBAR -->
	<section id="sidebar">
		<a href="/dashboard" class="brand"><img class='logo' src="../../assets/images/logo/logo.png"></a>
		<ul class="side-menu">
			<li><a href="/dashboard" ><i class='bx bxs-dashboard icon' ></i> Dashboard</a></li>
			<li class="divider" data-text="main">Main</li>
			<li><a href="/appointments" class="active"><i class='bx bxs-book-heart icon' ></i> Appointments</a></li>
			<li><a href="/diagnosed-records"><i class='bx bxs-book-content icon' ></i>Diagnosed<br>Records</a></li>
			<li><a href="/patients"><i class='bx bxs-user icon' ></i> Patients</a></li>
		</ul>
	</section>
	<!-- SIDEBAR -->

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu toggle-sidebar' ></i>
			<form action="#">
			</form>
			
			<span class="divider"></span>
			<div class="profile">
				
				<% if(!doctor.img.contentType){ %>.
					<img src="files/male-avatar.png" alt="User Img">
				<% } else { %>
					<img src="data:image/<%=doctor.img.contentType%>;base64,<%=doctor.img.data.toString(base)%>" alt="User Img">
				<% } %>
				
				<ul class="profile-link">
					<form action="/profile" method="GET">
						<li><button type="submit"><i class='bx bxs-user-circle icon' ></i> Profile</button></li>
					</form>
					<form action="/settings" method="GET">
						<li><button type="submit"><i class='bx bxs-cog' ></i> Settings</button></li>
					</form>
					<form action="/logout?_method=DELETE" method="POST">
						<li><button type="submit"><i class='bx bxs-log-out-circle' ></i> Logout</button></li>
					</form>
					
				</ul>
			</div>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			
			<!-- LAGAY START/END TIME/INTERVAL -->
			
			<div style="display: none;">
				
				<p id="time-interval">15</p>
				<span id="viewingBranchNumber1"><%= doctor.branch1 %></span>
				<span id="viewingBranchNumber2"><%= doctor.branch2 %></span>
	
				<p id="docTimeBranch1Start-Weekdays"><%= doctor.start_weekdays1 %></p>
				<p id="docTimeBranch1End-Weekdays"><%= doctor.end_weekdays1 %></p>
				<p id="docTimeBranch1Start-Sat"><%= doctor.start_sat1 %></p>
				<p id="docTimeBranch1End-Sat"><%= doctor.end_sat1 %></p>
				<p id="docTimeBranch1Start-Sun"><%= doctor.start_sun1 %></p>
				<p id="docTimeBranch1End-Sun"><%= doctor.end_sun1 %></p>
	
				<p id="docTimeBranch2Start-Weekdays"><%= doctor.start_weekdays2 %></p>
				<p id="docTimeBranch2End-Weekdays"><%= doctor.end_weekdays2 %></p>
				<p id="docTimeBranch2Start-Sat"><%= doctor.start_sat2 %></p>
				<p id="docTimeBranch2End-Sat"><%= doctor.end_sat2 %></p>
				<p id="docTimeBranch2Start-Sun"><%= doctor.start_sun2 %></p>
				<p id="docTimeBranch2End-Sun"><%= doctor.end_sun2 %></p>
				</div>
				<!--------------------->

			<section class="ftco-section">
			<div class="container">
				<h1 class="title">Appointments: <span class="title text-secondary" id="viewingBranch"><%= showbranch %></span></h1>
				<% if(typeof msg != 'undefined') { %>
					<% if(msg) { %>
					<div class="alert-<%= type %>">
						<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
						<p class="error-msg"><%= msg %></p>
					</div>
					<% } %>
					<% } %>
					<div class="row">
						<div class="col-sm-9 col-md-9">
							<form action="#">
							<div class="form-group">
								<input type="text" id="search" placeholder="Search...">
							</div>
							</form>
						</div>
						<div class="col-sm-3 col-md-3">
							<button class="button going record-button" id="triggerId1" 
							data-toggle="modal" data-target="#selectBranch" aria-haspopup="true" aria-expanded="false">Change Branch</button>
						</div>	
					</div>
					<div class="col-sm-12 col-md-12">
						<p><input type="checkbox" class="mt-3 ml-2 custom-checkbox" id="showTodayOnly" onclick="showToday()">
							Show today's appointments only</p>
					</div>

					<input class="form-control" id="timepicker" style="display: none;"/>
					<div id="outige" style="display: none;"></div>
					
					<!--- LAGAY ---->
					<div class="modal fade time-slot" id="selectBranch" tabindex="-1" role="dialog">
						<div class="modal-dialog modal-dialog-centered" role="document">
						<div class="modal-content">
						<div class="modal-header">
						<div class="col-md-12 text-center">
							<img src="../../assets/images/logo/logo.png" width="150px" class="logo-light" alt="logo">
						</div>
						</div>
						<center>
						<form action="/appointments" method="POST">
							<div class="col-md-10 modal-body text-center mt-3">
								<select id="select-branch" name="branch" class="form-control" required>
									<option id="viewBranch1" value="<%= doctor.branch1 %>"><%= doctor.branch1 %></option>
									<option id="viewBranch2" value="<%= doctor.branch2 %>"><%= doctor.branch2 %></option>
								</select>
								<input type="submit" class="button record-button mt-3" value="Change Branch">     
								</div>
						</form>
						</center>
						</div>
						</div>
					</div>

					<!---->

	

			</div>
			<section class="ftco-section">
				<div class="container">

					<div class="tabs">
  
						<input type="radio" id="tab1" name="tab-control" checked>
						<input type="radio" id="tab2" name="tab-control">
						<hr>
						<ul>
						  <li title="normal"><label for="tab1" role="button"><span>Without Infectious Symptoms</span></label></li>
						  <li title="positive"><label for="tab2" role="button"><span>With Infectious Symptoms</span></label></li>
							
						</ul>
						<hr>
		
						<div class="content">
		
							<!-- NOT POSITIVE SECTION-->
							<section>
								<div class="row">
									<% appointment.reverse().forEach(function(appointments){ %>
									<% if( appointments.pre_diagnose_result == "Patient Has Non Infectious Symptoms" && appointments.appointment_status != "Cancelled" && appointments.branch == doctor.branch1 && appointments.approved_staff || appointments.pre_diagnose_result == "Patient Has Non Infectious Symptoms" && appointments.appointment_status != "Cancelled" && appointments.branch == doctor.branch2 && appointments.approved_staff) { %> 
									<div class="searchhide">
										<div class="card p-3 mb-4">
											<div class="d-flex justify-content-between mb-4">
												<div class="user-info">
													<div class="user-info__img">
														<img src="uploads/<%= appointments.img_id %>.png" alt="User Img" onerror="this.onerror=null;this.src='files/male-avatar.png';">
													</div>
													<div class="user-info__basic">
														<span style="display:none"><%= appointments.branch %></span>
														<h6 class="mb-0"><%= appointments.img_id %></h6>
														<h5 class="text-highlight mb-0"><%= appointments.first_name %> <%= appointments.last_name %></h5>
														<p class="text-muted mb-0" id="age<%= appointments._id %>"></p>
													</div>
												</div>
												<div class="dropdown open">
													<a href="#!" class="px-2" id="b<%= appointments.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
														<i class="fa fa-ellipsis-v"></i>
													</a>
													<div class="dropdown-menu dropdown-menu-right" aria-labelledby="<%= appointments.id %>">
														<a class="dropdown-item" href="/diagnose-patient/<%= appointments._id %>"><i class="fa fa-check mr-1"></i> Diagnose Patient</a>
													</div>
												</div>
											</div>
											<div class="btn-records">
												<a class="button record-button" href="#!" id="triggerId1" data-toggle="modal" data-target="#a<%= appointments._id %><%= appointments.appointment_status %>" aria-haspopup="true" aria-expanded="false">View Appointment Info</a>
											</div>
											<hr>
											<% if(appointments.isConfirmed == true){%> 
												<p class="text-success center">Patient has confirmed to go to the scheduled appointment.
											<hr>
											<% } %> 
											<div class="d-flex justify-content-between">
												<% if(appointments.appointment_status == "Cancelled") {%>
													<span class="text-warning font-weight-bold mt-3"><%= appointments.appointment_status %></span>
												<% } else if(appointments.appointment_status =="Follow-Up") { %>
													<span class="text-primary font-weight-bold mt-3">Approved | <small>Follow-Up</small></span>
												<% }  else { %> 
													<span class="text-primary font-weight-bold mt-3"><%= appointments.appointment_status %></span>
												<% } %> 
												<div>
													<h5 class="mb-0" style="text-transform:uppercase;"><%= appointments.time %>
													</h5>
													<medium class="mb-0"><%= appointments.date %></medium>
												</div>
											</div>
										</div>
									</div>
									
									
								<!-- ============================
											APPOINTMENT VIEW CARD
										============================== -->
					
					
										<div class="modal fade" id="a<%= appointments._id %><%= appointments.appointment_status %>" tabindex="-1" role="dialog">
											<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content">
												<div class="p-4">
													<div class="d-flex justify-content-between mb-4">
														<div class="user-info">
															<div class="user-info__img">
																	<img src="uploads/<%= appointments.img_id %>.png" alt="User Img" onerror="this.onerror=null;this.src='files/male-avatar.png';">
															</div>
															<div class="user-info__basic">
																<h6 class="mb-0"><%= appointments.img_id %></h6>
																<h5 class="text-highlight mb-0"><%= appointments.first_name %> <%= appointments.last_name %></h5>
															</div>
														</div>
														<div class="dropdown open">
															<a href="#!" class="px-2" id="b<%= appointments.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																<i class="fa fa-ellipsis-v"></i>
															</a>
															<div class="dropdown-menu dropdown-menu-right" aria-labelledby="<%= appointments.id %>">
																<a class="dropdown-item" href="/diagnose-patient/<%= appointments._id %>"><i class="fa fa-check mr-1"></i> Diagnose Patient</a>
															</div>
														</div>
													</div>
														<p class="font-weight-bold text-info center"><%= appointments.service %></p>
														<hr>
														<div class="row">
															<div class="col-md-6 col-xs-6 col-sm-6">
																	<center>
																	<p class="text-muted mb-0 mt-2">Primary Phone</p>
																	<h6 id="first_num"><%= appointments.phone %></h6>
																	</center>
															</div>
															<div class="col-md-6 col-xs-6 col-sm-6">
																	<center>
																	<p class="text-muted mb-0 mt-2">Secondary Phone</p>
																	<h6 class="second_num"></h6>
																	</center>
																	<script>
																		var second_num = document.getElementsByClassName("second_num").textContent;
																		if (second_num.length === 0 ) {
																		document.getElementsByClassName("second_num").innerHTML = "None";
																		}
																	</script>
															</div>
														</div>
														<hr>
														<p class="text-muted"  style="display:inline">Branch: </p>
														<h6 class="black" style="display:inline"><%= appointments.branch %></h6><br>
														<hr>
														<p class="font-weight-bold text-success"><%= appointments.pre_diagnose_result %></p>
														<hr>
												
													<div class="d-flex justify-content-between">
														<% if(appointments.appointment_status == "Cancelled") {%>
															<span class="text-warning font-weight-bold mt-3"><%= appointments.appointment_status %></span>
														<% } else if(appointments.appointment_status =="Follow-Up") { %> 
															<div>
															<span class="text-primary font-weight-bold mt-3">Approved | <small>Follow-Up</small></span><br>
															<small class="text-secondary font-weight-bold">by <%= appointments.approved_staff %></small>
															</div>
														<% }  else { %> 
															<div>
															<span class="text-primary font-weight-bold mt-3"><%= appointments.appointment_status %></span><br>
															<small class="text-secondary font-weight-bold">by <%= appointments.approved_staff %></small>
															</div>
														<% } %> 
														<div>
															<h5 class="mb-0"><%= appointments.time %>
															</h5>
															<medium class="mb-0"><%= appointments.date %></medium>
														</div>
													</div>
												</div>
										</div>
									</div>
								</div>
									<%  } %> 
									<script>
										var now = Date.now();
										var bday = new Date("<%= appointments.birthday%>");
										var minus = now-bday
										var age = Math.floor(minus / 1000 / 60 / 60 / 24 / 365);
										document.getElementById("age<%= appointments._id %>").innerText = age + " yrs | <%= appointments.sex %>"
									</script>
								<% }); %> 
									
								</div>
							</section>
									
							 <!-- END OF NOT POSITIVE SECTION-->
							
		
							<!-- POSITIVE SECTION-->
						<section>
							<div class="row">
								<% appointment.reverse().forEach(function(appointments){ %>
								<% if( appointments.pre_diagnose_result == "Patient Has Infectious Symptoms" && appointments.appointment_status != "Cancelled" && appointments.approved_staff && appointments.branch == doctor.branch1 || appointments.pre_diagnose_result == "Patient Has Infectious Symptoms" && appointments.appointment_status != "Cancelled" && appointments.approved_staff && appointments.branch == doctor.branch2) { %> 
								<div class="searchhide">
									<div class="card p-3 mb-4">
										<div class="d-flex justify-content-between mb-4">
											<div class="user-info">
												<div class="user-info__img">
													<img src="uploads/<%= appointments.img_id %>.png" alt="User Img" onerror="this.onerror=null;this.src='files/male-avatar.png';">
												</div>
												<div class="user-info__basic">
													<span style="display:none"><%= appointments.branch %></span>
													<h6 class="mb-0"><%= appointments.img_id %></h6>
													<h5 class="text-highlight mb-0"><%= appointments.first_name %> <%= appointments.last_name %></h5>
													<p class="text-muted mb-0" id="age<%= appointments._id %>"></p>
												</div>
											</div>
															
											<div class="dropdown open">
												<a href="#!" class="px-2" id="b<%= appointments.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
													<i class="fa fa-ellipsis-v"></i>
												</a>
												<div class="dropdown-menu dropdown-menu-right" aria-labelledby="<%= appointments.id %>">
													<a class="dropdown-item" href="/diagnose-patient/<%= appointments._id %>"><i class="fa fa-check mr-1"></i> Diagnose Patient</a>
												</div>
											</div>
										</div>
										<div class="btn-records">
											<a class="button record-button" href="#!" id="triggerId1" data-toggle="modal" data-target="#a<%= appointments._id %><%= appointments.appointment_status %>" aria-haspopup="true" aria-expanded="false">View Appointment Info</a>
										</div>
										<hr>
										<% if(appointments.isConfirmed == true){%> 
											<p class="text-secondary center">Patient has confirmed to go to the scheduled appointment.
										<hr>
										<% } %> 
										<div class="d-flex justify-content-between">
											<% if(appointments.appointment_status == "Cancelled") {%>
												<span class="text-warning font-weight-bold mt-3"><%= appointments.appointment_status %></span>
											<% } else if(appointments.appointment_status =="Follow-Up") { %> 
												<span class="text-primary font-weight-bold mt-3">Approved | <small>Follow-Up</small></span>
											<% }  else { %> 
												<span class="text-primary font-weight-bold mt-3"><%= appointments.appointment_status %></span>
											<% } %> 
											<div>
												<h5 class="mb-0"><%= appointments.time %>
												</h5>
												<medium class="mt-0"><%= appointments.date %></medium>
											</div>
										</div>
									</div>
								</div>
		
								
								
								
							<!-- ============================
										APPOINTMENT VIEW INFO
										============================== -->
					
					
										<div class="modal fade" id="a<%= appointments._id %><%= appointments.appointment_status %>" tabindex="-1" role="dialog">
											<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content">
												<div class="p-4">
													<div class="d-flex justify-content-between mb-4">
														<div class="user-info">
															<div class="user-info__img">
																	<img src="uploads/<%= appointments.img_id %>.png" alt="User Img" onerror="this.onerror=null;this.src='files/male-avatar.png';">
															</div>
															<div class="user-info__basic">
																<h6 class="mb-0"><%= appointments.img_id %></h6>
																<h5 class="text-highlight mb-0"><%= appointments.first_name %> <%= appointments.last_name %></h5>
															</div>
														</div>
																<div class="dropdown open">
																	<a href="#!" class="px-2" id="<%= appointments.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																		<i class="fa fa-ellipsis-v"></i>
																	</a>
																	<div class="dropdown-menu dropdown-menu-right" aria-labelledby="<%= appointments.id %>">
																		<a class="dropdown-item" href="/diagnose-patient/<%= appointments._id %>"><i class="fa fa-check mr-1"></i> Diagnose Patient</a>
																	</div>
																</div>
													</div>
													<p class="font-weight-bold text-info center"><%= appointments.service %></p>
														<hr>
														<div class="row">
															<div class="col-md-6 col-xs-6 col-sm-6">
																	<center>
																	<p class="text-muted mb-0 mt-2">Primary Phone</p>
																	<h6 id="first_num"><%= appointments.phone %></h6>
																	</center>
															</div>
															<div class="col-md-6 col-xs-6 col-sm-6">
																	<center>
																	<p class="text-muted mb-0 mt-2">Secondary Phone</p>
																	<h6 class="second_num1"></h6>
																	</center>
																	<script>
																		var second_num = document.getElementsByClassName("second_num1").textContent;
																		if (second_num.length === 0 ) {
																		document.getElementsByClassName("second_num1").innerHTML = "None";
																		}
																	</script>
															</div>
														</div>
														<hr>
														<p class="text-muted"  style="display:inline">Branch: </p>
														<h6 class="black" style="display:inline"><%= appointments.branch %></h6><br>
														<hr>
														<div id="records-dropdown">
															<a class="py-2 d-block h-100 w-100 position-relative z-index-1 pr-1 text-secondary"
															data-toggle="collapse" href="#symptoms" role="button">	
															<p class="text-danger font-weight-bold"><%= appointments.pre_diagnose_result %></p>
															<div class="position-relative">
																<small class="ml-1 font-weight-bold">Click to View Symptoms</small>
																<div class="position-absolute top-0 right-0 h-100 d-flex align-items-center">
																<i class="fa fa-plus"></i>
																</div>
															</div>
															</a>
															<div class="collapse" id="symptoms">
																<span id="symptoms-if-none"></span>
																<p><%= appointments.exp_symptoms %></p>
															</div>
														</div>
														<hr>
														<div class="d-flex justify-content-between">
															<% if(appointments.appointment_status == "Cancelled") {%>
																<span class="text-warning font-weight-bold mt-3"><%= appointments.appointment_status %></span>
															<% } else if(appointments.appointment_status =="Follow-Up") { %> 
																<div>
																<span class="text-primary font-weight-bold mt-3">Approved | <small>Follow-Up</small></span><br>
																<small class="text-secondary font-weight-bold">by <%= appointments.approved_staff %></small>
																</div>
															<% }  else { %>
																<div>
																<span class="text-primary font-weight-bold mt-3"><%= appointments.appointment_status %></span><br>
																<small class="text-secondary font-weight-bold">by <%= appointments.approved_staff %></small>
																</div>
															<% } %> 
															<div>
																<h5 class="mb-0"><%= appointments.time %>
																</h5>
																<medium class="mb-0"><%= appointments.date %></medium>
															</div>
														</div>
												</div>
											</div>
											</div>
										</div>
								

								<% } %> 
								<script>
									var now = Date.now();
									var bday = new Date("<%= appointments.birthday%>");
									var minus = now-bday
									var age = Math.floor(minus / 1000 / 60 / 60 / 24 / 365);
									document.getElementById("age<%= appointments._id %>").innerText = age + " yrs | <%= appointments.sex %>"
								</script>
							<% }); %> 
								
							</div>
							</section>
								
							</div>
						
						</section>
							<!-- END OF POSITIVE SECTION-->
		
		
						</main>
			</section>
			<% } %> 
	<!-- NAVBAR -->
	
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

	<script src="assets/js/vendor/jquery/jquery.min.js"></script>
      <script src="assets/js/vendor/select2/select2.min.js"></script>
      <script src="assets/js/global.js"></script>
	  <script src="assets/js/script.js"></script>

	<!-- Patients JS -->

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
	<script src="https://jonthornton.github.io/jquery-timepicker/jquery.timepicker.js"></script>

	<script>
		window.onload = function(){
			var el = document.getElementsByClassName('toggle-sidebar');
			for (var i=0;i<el.length; i++) {
			el[i].click();
		}

		document.getElementById('timepicker').click();
		
		}
		</script>

<script>
	// in case of bootstrap modal example:
	$('.modal').on('shown.bs.modal', function () {
	  
	  var documentScrollTop = $(document).scrollTop();
	  $(document).on('scroll.noScroll', function() {
		 $(document).scrollTop(documentScrollTop);
		 return false;
	  });
	
	}).on('hidden.bs.modal', function() {
	
	  $(document).off('scroll.noScroll');
	
	});
</script>

<script>
	
	
	var selectedBranch = document.getElementById("viewingBranch").textContent;
		$('.searchhide').hide();
		$('.searchhide:contains("'+selectedBranch+'")').show();
	
	var viewingBranchNumber1 = document.getElementById("viewingBranchNumber1").textContent;
	var viewingBranchNumber2 = document.getElementById("viewingBranchNumber2").textContent;

	var date = new Date();
	switch(date.getDay()){
    case 0:
	if (viewingBranchNumber1 == selectedBranch) {
		var docTimeStart = document.getElementById("docTimeBranch1Start-Sun").textContent;
		var docTimeEnd = document.getElementById("docTimeBranch1End-Sun").textContent;
	} else if (viewingBranchNumber2 == selectedBranch) {
		var docTimeStart = document.getElementById("docTimeBranch2Start-Sun").textContent;
		var docTimeEnd = document.getElementById("docTimeBranch2End-Sun").textContent;
	}else {
	}; break;
    case 6:
	if (viewingBranchNumber1 == selectedBranch) {
		var docTimeStart = document.getElementById("docTimeBranch1Start-Sat").textContent;
		var docTimeEnd = document.getElementById("docTimeBranch1End-Sat").textContent;
	} else if (viewingBranchNumber2 == selectedBranch) {
		var docTimeStart = document.getElementById("docTimeBranch2Start-Sat").textContent;
		var docTimeEnd = document.getElementById("docTimeBranch2End-Sat").textContent;
	}else {
	}; break;
    default:
	if (viewingBranchNumber1 == selectedBranch) {
		var docTimeStart = document.getElementById("docTimeBranch1Start-Weekdays").textContent;
		var docTimeEnd = document.getElementById("docTimeBranch1End-Weekdays").textContent;
	} else if (viewingBranchNumber2 == selectedBranch) {
		var docTimeStart = document.getElementById("docTimeBranch2Start-Weekdays").textContent;
		var docTimeEnd = document.getElementById("docTimeBranch2End-Weekdays").textContent;
	}else {
	};
}
		
	$(function() {
	$('#timepicker').timepicker({
		step: 15,
		minTime: docTimeStart,
		maxTime: docTimeEnd,
		dynamic: false,
		dropdown: true,
		scrollbar: true
	});
	});

		
		$('.searchhide').hide();
        $('#timepicker').on('click', function(){
           setTimeout(list_time, 500);                    
          });
      
          function list_time() {
      
			  $('.ui-timepicker-list').find('li').each(function(i, obj) {
            	$(obj).appendTo($('#outige'));
                }); 
			setTimeout(outige_time, 500);       
          }

		  function outige_time() {
      
		var array = [];

		$('#outige').find('li').each(function(){
			array.push($(this).text());
		});


		$(array).each(function () {
		$('.searchhide:contains("'+selectedBranch+'"):contains("'+this+'")').closest('.searchhide').show();
		});

		// Clear Array Elements
		array = [];  
		}

		$('#search').keyup(function(){
		
		// Search text
		var text = $(this).val();
		
		// Hide all content class element
		$('.searchhide').hide();

		var timeArray = [];

			$('#outige').find('li').each(function(){
				timeArray.push($(this).text());
			});

		$(timeArray).each(function () {
		$('.searchhide:contains("'+text+'"):contains("'+selectedBranch+'"):contains("'+this+'")').closest('.searchhide').show();
		
		// Clear Array Element
		});
		timeArray = []; 
		

	$.expr[":"].contains = $.expr.createPseudo(function(arg) {
		return function( elem ) {
		return $(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
		};
	});
});

function showToday() {
	  var checkBox = document.getElementById("showTodayOnly");

	  if (checkBox.checked == true){

		var objToday = new Date(),
		dayOfMonth = today + ( objToday.getDate() < 10) ? '0' + objToday.getDate() : objToday.getDate(),
		months = new Array('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'),
		curMonth = months[objToday.getMonth()],
		curYear = objToday.getFullYear();

		var today = curMonth + " " + dayOfMonth + ", " + curYear;
		
		// Hide all content class element
		$('.searchhide').hide();

		var timeOnlyArray = [];

			$('#outige').find('li').each(function(){
				timeOnlyArray.push($(this).text());
			});

		$(timeOnlyArray ).each(function () {
		$('.searchhide:contains("'+today+'"):contains("'+selectedBranch+'"):contains("'+this+'")').closest('.searchhide').show();
		
		// Clear Array Elements
		});
		timeOnlyArray1 = []; 
		
	  } else {
		var timeOnlyArray = [];

			$('#outige').find('li').each(function(){
				timeOnlyArray1.push($(this).text());
			});

		$(timeOnlyArray1 ).each(function () {
		$('.searchhide:contains("'+selectedBranch+'"):contains("'+this+'")').closest('.searchhide').show();
		
		// Clear Array Elements
		timeOnlyArray1 = []; 

		});
	
	  }
	}

	
</script>

</body>
</html>