<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <% if (patient) { %>
		<title><%= patient.first_name %> <%= patient.last_name %> | Lagman Qualicare Family Clinic</title>
    <link href="assets/images/favicon/favicon.png" rel="icon">
  <link rel="stylesheet" href="../css/booking-style.css">

	<link href="../js/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
	<link href="../js/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">
  <link rel="stylesheet" href="../js/multi-step/bd-wizard.css">

  <link href="../js/vendor/select2/slimselect.min.css" rel="stylesheet" media="all">
	<link href="../js/vendor/select2/select2.min.css" rel="stylesheet" media="all">
	<link href="../js/vendor/datepicker/daterangepicker.css" rel="stylesheet" media="all">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
  
</head> 
<body>
  <header>
    <nav class="navbar navbar-expand-sm navbar-light bg-white">
        <img src="../../assets/images/logo/logo.png" class="navbar-brand" width="150" alt="logo">
      
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/dashboard">< Go Back</a>
            </li>
          </ul>
    </nav>


  </header>
  <form action="/request-appointment" method="POST">
  <main class="d-flex">
    
    <div class="container">
      <div class="card">
        <div id="wizard">
          <% if (typeof alert != "undefined"){ %> 
            <% if (alert){%> 
              <div class="alert alert-dismissible fade show" role="alert">
                <%= alert %> 
                <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
              </div> 
            <% } %> 
            <% } %> 
          <h3>Branch Location</h3>
          <section>
                <h5 class="bd-wizard-step-title">Step: 1 of 2</h5>
                <h2 class="section-heading">Branch Location</h2>
                <p>Select a branch location where you'd like to have your appointment.</p>
                
                
                <div class="purpose-radios-wrapper">
                  
                  <% branch.forEach(function(branches){ %>
                    
                      <div class="purpose-radio">
                        <input type="radio" name="branch" id="branch<%= branches.id %>" class="purpose-radio-input" value="<%= branches.branch_name %>" data-toggle="modal" data-target="#a<%= branches._id %>">
                        <label for="branch<%= branches.id %>" class="purpose-radio-label">
                        <span class="label-text"><%= branches.branch_name %> </span>
                        <span class="label-text-address"><%= branches.address %> </span>
                      </label>
                    </div>
                  
                    
                     <!--Modal-->
                     
                     <div class="modal fade time-slot" id="a<%= branches._id %>" tabindex="-1" role="dialog">
                      <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                          <div class="modal-header">
                            <div class="col-md-12 text-center">
                              <i type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </i>
                              <img src="../../assets/images/logo/logo.png" width="150px" class="logo-light" alt="logo">
                          </div>
                          </div>

                          <div class="modal-body text-center mt-3">
                            <h4>Doctor's Schedule</h4>
                            <p>Here are the schedules for this branch.</p>
                          <section class="text-center">
                            <div class="card-container mt-4 mb-4">
                                  <div class="time text-center mx-0">
                                    <% doctor.forEach(function(doctors){ %>
                                    <% if(doctors.branch1 == branches.branch_name) {%> 
                                        <div class="doctors-schedule">
                                          <h5>Dr. <%= doctors.first_name %> <%= doctors.last_name%></h5>
                                          <% if(doctors.start_weekdays1 != "None") {%> 
                                            <p class="text-muted font-weight-bold">Monday - Friday</p>
                                            <p class="font-weight-bold"><%= doctors.start_weekdays1 %> - <%= doctors.end_weekdays1 %></p>
                                          <% } else if(doctors.start_sat1 != "None") {%> 
                                            <p class="text-muted font-weight-bold">Saturday</p>
                                            <p class="font-weight-bold"><%= doctors.start_sat1 %> - <%= doctors.end_sat1 %></p>
                                          <% } else if(doctors.start_sun1 != "None") {%> 
                                            <p class="text-muted font-weight-bold">Saturday</p>
                                            <p class="font-weight-bold"><%= doctors.start_sun1 %> - <%= doctors.end_sun1 %></p>
                                          <% } %>
                                          <hr>
                                        </div>
                                    <% } else if(doctors.branch2 == branches.branch_name) {%> 
                                      <div class="doctors-schedule">
                                        <h5>Dr. <%= doctors.first_name %> <%= doctors.last_name%></h5>
                                        <% if(doctors.start_weekdays2 != "None") {%> 
                                          <p class="text-muted font-weight-bold">Monday - Friday</p>
                                          <p class="font-weight-bold"><%= doctors.start_weekdays2 %> - <%= doctors.end_weekdays2 %></p>
                                        <% } else if(doctors.start_sat2 != "None") {%> 
                                          <p class="text-muted font-weight-bold">Saturday</p>
                                          <p class="font-weight-bold"><%= doctors.start_sat2 %> - <%= doctors.end_sat2 %></p>
                                        <% } else if(doctors.start_sun2 != "None") {%> 
                                          <p class="text-muted font-weight-bold">Saturday</p>
                                          <p class="font-weight-bold"><%= doctors.start_sun2 %> - <%= doctors.end_sun2 %></p>
                                        <% } %>
                                        <hr>
                                      </div>
                                  <% } %>
                                    <% }) %>
                                  </div>
                                   
                              <input type="button" class="bd-wizard-btn" data-step="previous" data-dismiss="modal" aria-label="Close" value="Previous">
                              <input type="button" class="bd-wizard-btn" data-step="next" data-dismiss="modal" aria-label="Close" value="Next">
                            </div>
                          </div>
                          </div>
                        </div>
                     </div>
                    <% }) %> 
                
              </div>
          </section>

          <h3>Services</h3>
            <section> 
                        <div class="col-md-12 mt-5">
                          
                      <h5 class="bd-wizard-step-title">Step: 2 of 4</h5>
                          <h4>What type of service are you looking for:</h4>
                          <select id="services-database" name="service" class="mt-4" multiple required>
                            <!--insert symptoms database-->
                            <option value="Regular Health Checkup" >Regular Health Checkup</option>
                            <option value="General Internal Medicine">General Internal Medicine</option>
                            <option value="Diabetes Care">Diabetes Care</option>
                            <option value="Hypertension">Hypertension</option>
                            <option value="Cardiovascular Diseases">Cardiovascular Diseases</option>
                            <option value="Ashtma, Ephysemema, Pneumonia">Ashtma, Ephysemema, Pneumonia</option>
                            <option value="Adult Pediatric Immunization">Adult Pediatric Immunization</option>
                            <option value="EENT">EENT</option>
                            <option value="Pediatric Wellness">Pediatric Wellness</option>
                            <option value="Anti Rabies Vaccine">Anti Rabies Vaccine</option>
                            <option value="Flu Vaccine">Flu Vaccine</option>
                          </select>

                        </div>
                      <div class="col-md-12">
                      <input type="button" class="bd-wizard-btn" data-step="previous" aria-label="Close" value="Previous">
                      <input type="button" id="next" class="bd-wizard-btn" data-step="next" aria-label="Close" value="Next" disabled = "disabled">
                      </div>
             </section>     

             <h3>Symptoms</h3>
             <section> 
 
                        <div class="col-md-12 mt-5">
                       <h5 class="bd-wizard-step-title">Step: 3 of 4</h5>
           
                           <h4>Do you currently experience any of the
                            following symptoms?</h4>

                            <div class="row mt-5 mb-5">
                              <div class="span4">
                                  <div class="container-fluid">
                                      <div class="row-fluid">
                                          <div class="span6">
                                              <ul>
                                                  <li>Fever</li>
                                                  <li>Cough</li>
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                              <div class="span4">
                                  <div class="container-fluid">
                                    <div class="row-fluid">
                                        <div class="span6">
                                            <ul>
                                              <li>Difficulty Breathing</li>
                                              <li>Colds</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                              </div>
                              <div class="span4">
                                <div class="container-fluid">
                                  <div class="row-fluid">
                                      <div class="span6">
                                          <ul>
                                              <li>Sore Throat</li>
                                          </ul>
                                      </div>
                                  </div>
                              </div>
                              </div>
                              </div>

                          <div class="purpose-radio radio-toolbar" data-step="next">
                            <input type="radio" name="checker" id="no" value="no">
                          <label for="no" class="purpose-radio-label">
                            <span class="label-text">NO</span>
                          </label>
                          </div>

                          <div class="purpose-radio radio-toolbar">
                              <input type="radio" name="checker" id="yes" value="yes" data-toggle="modal" data-target="#yes-symptoms">
                              <label for="yes" class="purpose-radio-label">
                              <span class="label-text">YES</span>
                            </label>
                          </div>
      
                           <!--Modal-->
                            <div class="modal fade time-slot" id="yes-symptoms" tabindex="-1" role="dialog">
                              <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <div class="col-md-12 text-center">
                                      <i type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                      </i>
                                      <img src="../../assets/images/logo/logo.png" width="150px" class="logo-light" alt="logo">
                                  </div>
                                  </div>
      
                                  <div class="modal-body text-center mt-3">
                                    <p>Specify the symptoms you are experiencing.</p>
                                  <section class="text-center">
                                    <div class="card-container mt-4 mb-3">
                                    
                                      <div class="col-md-12">
                                        <select id="symptoms-database" name="exp_symptoms" multiple>
                                          <!--insert symptoms database-->
                                          <option value="Fever">Fever</option>
                                          <option value="Cough">Cough</option>
                                          <option value="Difficulty Breathing">Difficulty Breathing</option>
                                          <option value="Colds">Colds</option>
                                          <option value="Sore Throat">Sore Throat</option>
                                        </select>
                                      </div>
                                     
                                      <input type="button" id="proceed" class="bd-wizard-btn" data-step="next" data-dismiss="modal" aria-label="Close" value="Proceed" disabled = "disabled">
                                    </div>
                                  </div>
      
                                  </div>
                                </div>
                             </div>
                           
                          </div> 
                            <div class="col-md-12">
                            <input type="button" class="bd-wizard-btn" data-step="previous" aria-label="Close" value="Go Back">
                            </div>
                        
              </section>   

          <h3>Terms</h3>
          <section>
            <div class="card-container">
              <h5 class="bd-wizard-step-title">Step: 4 of 4</h5>
              <h2 class="section-heading">Terms & Conditions</h2>
                    
                      <div class="my-5">
                        <body onload="disableSubmit()">
                          <p><input type="checkbox" name="terms" id="terms" onchange="activateButton(this)">
                          By booking an Appointment, I herebey accept the 
                          <a href="/terms-conditions" target="_blank">Terms and Conditions</a></p>
  
                          <br>
                        <input type="button" class="bd-wizard-btn" data-step="previous" value="Previous">
                        <input type="button" class="bd-wizard-btn" id="submit" value="Submit" data-toggle="modal" data-target="#success_confirm">

                         </body>
                      </div>
            </div>
          </section>

           <!--Modal-->
           <div class="modal fade time-slot" id="success_confirm" tabindex="-1" role="dialog">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <div class="col-md-12 text-center">
                    <img src="../../assets/images/logo/logo.png" width="150px" class="logo-light" alt="logo">
                </div>
                </div>

                <center>
                <div class="col-md-10 modal-body text-center mt-3">
                  <p>You have successfuly requested an appointment, please wait for a while, our staff will call or text you to confirm your appointment.</p>  
                  <input type="submit" class="bd-wizard-btn" name="Done" value="Ok">     
                  </div>
                </center>
                </div>

                </div>
              </div>
           </div>

          
        </div>
      </div>
    </div>
    <% } %> 
  </main>
  </form>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  <script src="../js/multi-step/jquery.steps.min.js"></script>
  <script src="../js/multi-step/bd-wizard.js"></script>
	<script src="../js/vendor/select2/select2.min.js"></script>
	<script src='https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.21.0/slimselect.js'></script>



  <script>
		new SlimSelect({
		  select: '#symptoms-database',
      closeOnSelect: false,
      placeholder: 'Select Symptoms',
      addable: function (value) {
    // return false or null if you do not want to allow value to be submitted
    if (value === 'bad') {return false}

    // Return the value string
    return value // Optional - value alteration // ex: value.toLowerCase()

    // Optional - Return a valid data object. See methods/setData for list of valid options
    return {
      text: value,
      value: value.toLowerCase()
    }
  }
      
		  });
      
  new SlimSelect({
    select: '#services-database',
    closeOnSelect: false,
    placeholder: 'Select Services',
    addable: function (value) {
    // return false or null if you do not want to allow value to be submitted
    if (value === 'bad') {return false}

    // Return the value string
    return value // Optional - value alteration // ex: value.toLowerCase()

    // Optional - Return a valid data object. See methods/setData for list of valid options
    return {
      text: value,
      value: value.toLowerCase()
    }
  }

    });

    $(document).ready(function() {  
        $('#no').click(function() {  
          return $('#symptoms-database option:selected').remove(); 
        });
      });
    
</script>

<script>
  
  function disableSubmit() {
   document.getElementById("submit").disabled = true;
  }
 
   function activateButton(element) {
 
       if(element.checked) {
         document.getElementById("submit").disabled = false;
        }
        else  {
         document.getElementById("submit").disabled = true;
       }
 
   }
 </script>

<script>
	$(document).ready(function() {
  $('#symptoms-database').on('change', function() {
    let empty = false;

    $('#symptoms-database').each(function() {
      empty = $(this).val().length == 0;
    });

    if (empty)
      $('#proceed').attr('disabled', 'disabled');
    else
      $('#proceed').removeAttr('disabled')
  });
});

$(document).ready(function() {
  $('#services-database').on('change', function() {
    let empty = false;

    $('#services-database').each(function() {
      empty = $(this).val().length == 0;
    });

    if (empty)
      $('#next').attr('disabled', 'disabled');
    else
      $('#next').removeAttr('disabled')
  });
});
</script>


<script src="../js/global.js"></script>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.js"></script>
<script type='text/javascript' src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js'></script>
<script type='text/javascript' src=''></script>
<script type='text/javascript' src=''></script>




</body>
</html>
