<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

	<link href="assets/images/favicon/favicon.png" rel="icon">
	<link rel="stylesheet" href="../css/appointments-style.css">
	
	<link href="../js/vendor/select2/select2.min.css" rel="stylesheet" media="all">
	
	<link href="../js/vendor/mdi-font/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
	<link href="../js/vendor/font-awesome-4.7/css/font-awesome.min.css" rel="stylesheet" media="all">


	<% if (staff) { %>
		<title><%= staff.first_name %> <%= staff.last_name %> | Lagman Qualicare Family Clinic</title>
</head>
<body>
	
	<!-- SIDEBAR -->
	<section id="sidebar">
		
		<a href="/dashboard" class="brand"><img class='logo' src="../../assets/images/logo/logo.png"></a>
		<ul class="side-menu">
			<li><a href="/dashboard"><i class='bx bxs-dashboard icon' ></i> Dashboard</a></li>
			<li class="divider" data-text="main">Main</li>
			
			<li><a href="/appointments" class="active"><i class='bx bxs-book-heart icon' ></i> Appointments</a></li>
			<li><a href="/patients"><i class='bx bxs-user icon' ></i> Patients</a></li>
		</ul>
	</section>
	<!-- SIDEBAR -->

	<!-- NAVBAR -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<i class='bx bx-menu toggle-sidebar'></i>
			<form action="#">
			</form>
			<span class="divider"></span>
			<div class="profile">
				
				<% if(!staff.img.contentType){ %>
					<img src="files/male-avatar.png" alt="User Img">
				<% } else { %>
					<img src="data:image/<%=staff.img.contentType%>;base64,<%=staff.img.data.toString(base)%>" alt="User Img">
				<% } %>
				<ul class="profile-link">
					<form action="/profile" method="GET">
						<li><button type="submit"><i class='bx bxs-user-circle icon' ></i> Profile</button></li>
					</form>
					<form action="/settings" method="GET">
						<li><button type="submit"><i class='bx bxs-cog' ></i> Settings</button></li>
					</form>
					<form action="/logout?_method=DELETE" method="POST">
						<li><button type="submit"><i class='bx bxs-log-out-circle' ></i> Logout</button></li>
					</form>
				</ul>
			</div>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<% if(typeof alert != 'undefined') { %>
			  <div class="alert">
				<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;
				<p class="error-msg"><%= alert %></p>
			</span>
			  </div>

			<% } %>
			<section class="ftco-section">
				<div class="container">
			<h1 class="title">Appointments</h1>
					<div class="row">
						<div class="col-sm-9 col-md-9">
							<form action="#">
							<div class="form-group">
								<input type="text" id="search" placeholder="Search...">
							</div>
							</form>
						</div>
						<div class="col-sm-3 col-md-3">
							<p><input type="checkbox" class="mt-3 ml-2 custom-checkbox" id="showTodayOnly" onclick="showToday()">
								Show today's appointments only</p>
						</div>
					</div>
					</div>
					
					<section class="ftco-section">
						<div class="container">
		
							<div class="tabs">
		  
								<input type="radio" id="tab1" name="tab-control" checked>
								<input type="radio" id="tab2" name="tab-control">
								<hr>
								<ul>
								  <li title="normal"><label for="tab1" role="button"><span>Normal</span></label></li>
								  <li title="positive"><label for="tab2" role="button"><span>Possible COVID-19</span></label></li>
									
								</ul>
								<hr>
				
								<div class="content">
				
									<!-- NOT POSITIVE SECTION-->
									<section>

										<h5 class="text-muted mb-3">Confirmed Appointments</h5>	
										<div class="row justify-content-center" id="appointment-confirmed-not"></div>
										<hr>
										<h5 class="text-muted mb-3">Pending Appointments</h5>	
										<div class="row justify-content-center" id="appointment-pending-not"></div>
										<hr>

										<div class="row">
											<% appointment.reverse().forEach(function(appointments){ %>
											<% if( appointments.pre_diagnose_result == "Not COVID-19" && appointments.appointment_status != "Approved" && staff.branch == appointments.branch && !appointments.approved_staff) { %> 
											<div class="searchhide not">
												<div class="card p-3 mb-4">
													<div class="d-flex justify-content-between mb-4">
														<div class="user-info">
															<div class="user-info__img">
																<img src="uploads/<%= appointments.img_id %>.png" alt="User Img" onerror="this.onerror=null;this.src='files/male-avatar.png';">
															</div>
															<div class="user-info__basic">
																<h6 class="mb-0"><%= appointments.img_id %></h6>
																<h5 class="text-highlight mb-0"><%= appointments.first_name %> <%= appointments.middle_name %> <%= appointments.last_name %> <%= appointments.suffix %></h5>
																<p class="text-muted mb-0"><%= appointments.age %> yrs | <%= appointments.sex %>ㅤㅤㅤㅤㅤㅤ</p>
															</div>
														</div>
																
														<% if (appointments.appointment_status != "Cancelled") {%> 
															<div class="dropdown open">
																<a href="#!" class="px-2" id="b<%= appointments.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																	<i class="fa fa-ellipsis-v"></i>
																</a>
																<div class="dropdown-menu dropdown-menu-right" aria-labelledby="<%= appointments.id %>">
																	<form action="/approve-appointment?_method=PUT" method="POST">
																		<input type="text" name="_id" value="<%= appointments._id %>" hidden>
																		<input type="submit" class="dropdown-item" value="Approve Appointment">
																	</form>
																	<form action="/cancel-appointment?_method=PUT" method="POST">
																		<input type="text" name="_id" value="<%= appointments._id %>" hidden>
																		<input class="dropdown-item text-danger" type="submit" value="Cancel">
																	</form>
																</div>
															</div>
															<% } else { %> 
																<div class="dropdown open">
																	<a href="#!" class="px-2" id="<%= appointments.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																		<i class="fa fa-ellipsis-v"></i>
																	</a>
																	<div class="dropdown-menu dropdown-menu-right" aria-labelledby="<%= appointments.id %>">
																		<form action="/deactivate" method="POST">
																			<input type="text" name="_id" value="<%= appointments._id %>" hidden>
																			<input type="submit" class="dropdown-item text-danger" value="Remove">
																		</form>
																	</div>
																</div>
														<% } %> 
													</div>
													
													<center>
													<hr>
														<div class="mb-0"><p class="text-muted mb-0">Primary Phone</p></div>
														<div class="mb-3"><h5><%= appointments.phone %></h5></div>
														<div class="mb-0"><p class="text-muted mb-0">Secondary Phone</p></div>
														<div class="mb-3"><h5>123456789</h5></div>
													</center>

													<div class="btn-records">
														<a class="button record-button" href="#!" id="triggerId1" data-toggle="modal" data-target="#a<%= appointments._id %><%= appointments.appointment_status %>" aria-haspopup="true" aria-expanded="false">View Appointment Info</a>
													</div>
													<hr>
													<div class="d-flex justify-content-between">
														<div>
															<h5 class="mb-0"><%= appointments.time %>
																<small class="ml-1"><%= appointments.date %></small>
															</h5>
														</div>
														<% if(appointments.appointment_status == "Cancelled") {%> 
															<span class="text-warning font-weight-bold"><%= appointments.appointment_status %></span>
														<% }  else { %> 
															<span class="text-primary font-weight-bold"><%= appointments.appointment_status %></span>
														<% } %> 
													</div>
												</div>
											</div>
					
											
											
											
										<!-- ============================
											Zoom Card
										============================== -->
					
					
										<div class="modal fade" id="a<%= appointments._id %><%= appointments.appointment_status %>" tabindex="-1" role="dialog">
											<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content">
												<div class="p-4">
													<div class="d-flex justify-content-between mb-4">
														<div class="user-info">
															<div class="user-info__img">
																	<img src="uploads/<%= appointments.img_id %>.png" alt="User Img" onerror="this.onerror=null;this.src='files/male-avatar.png';">
															</div>
															<div class="user-info__basic">
																<h6 class="mb-0"><%= appointments.img_id %></h6>
																<h5 class="text-highlight mb-0"><%= appointments.first_name %> <%= appointments.middle_name %> <%= appointments.last_name %> <%= appointments.suffix %></h5>
																<p class="text-muted mb-0"><%= appointments.age %> yrs | <%= appointments.sex %></p>
																<p class="text-muted mb-0"><%= appointments.phone %> | SecondNumber</p>
															</div>
														</div>
														<% if (appointments.appointment_status != "Cancelled") {%> 
															<div class="dropdown open">
																<a href="#!" class="px-2" id="b<%= appointments.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																	<i class="fa fa-ellipsis-v"></i>
																</a>
																<div class="dropdown-menu dropdown-menu-right" aria-labelledby="<%= appointments.id %>">
																	<form action="/approve-appointment?_method=PUT" method="POST">
																		<input type="text" name="_id" value="<%= appointments._id %>" hidden>
																		<input type="submit" class="dropdown-item" value="Approve Appointment">
																	</form>
																	<form action="/cancel-appointment?_method=PUT" method="POST">
																		<input type="text" name="_id" value="<%= appointments._id %>" hidden>
																		<input class="dropdown-item text-danger" type="submit" value="Cancel">
																	</form>
																</div>
															</div>
															<% } else { %> 
																<div class="dropdown open">
																	<a href="#!" class="px-2" id="<%= appointments.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																		<i class="fa fa-ellipsis-v"></i>
																	</a>
																	<div class="dropdown-menu dropdown-menu-right" aria-labelledby="<%= appointments.id %>">
																		<form action="/deactivate" method="POST">
																			<input type="text" name="_id" value="<%= appointments._id %>" hidden>
																			<input type="submit" class="dropdown-item text-danger" value="Remove">
																		</form>
																	</div>
																</div>
														<% } %> 
													</div>
													<h6>Symptoms:</h6>
														<p><%= appointments.exp_symptoms %></p>
														<hr>
														<h6>Prediagnostic COVID-19 Test Results:</h6>
														<p class="text-success font-weight-bold"><%= appointments.pre_diagnose_result %></p>
													<div class="d-flex justify-content-between mt-4">
														<div>
														<h5 class="mb-0"><%= appointments.time %>
																				<small class="ml-1"><%= appointments.date %></small>
														</h5>
														</div>
														<% if(appointments.appointment_status == "Cancelled") {%> 
															<span class="text-warning font-weight-bold"><%= appointments.appointment_status %></span>
														<% }  else { %> 
															<span class="text-primary font-weight-bold"><%= appointments.appointment_status %></span>
														<% } %> 
													</div>
												</div>
											</div>
											</div>
										</div>
										<% } %> 
										<% }); %> 
											
										</div>

										<h5 class="text-muted mb-3">Cancelled Appointments</h5>	
										<div class="row justify-content-center" id="appointment-cancelled-not"></div>
										<hr>
										<h5 class="text-muted mb-3">Completed Appointments</h5>	
										<div class="row justify-content-center" id="appointment-done-not"></div>

									</section>

									<!-- POSITIVE SECTION-->
									<section>

										<h5 class="text-muted mb-3">Confirmed Appointments</h5>	
										<div class="row justify-content-center" id="appointment-confirmed-yes"></div>
										<hr>
										<h5 class="text-muted mb-3">Pending Appointments</h5>	
										<div class="row justify-content-center" id="appointment-pending-yes"></div>
										<hr>

										<div class="row">
											<% appointment.reverse().forEach(function(appointments){ %>
											<% if( appointments.pre_diagnose_result == "Possible COVID-19" && appointments.appointment_status != "Approved" && staff.branch == appointments.branch && !appointments.approved_staff) { %> 
											<div class="searchhide yes">
												<div class="card p-3 mb-4">
													<div class="d-flex justify-content-between mb-4">
														<div class="user-info">
															<div class="user-info__img">
																<img src="uploads/<%= appointments.img_id %>.png" alt="User Img" onerror="this.onerror=null;this.src='files/male-avatar.png';">
															</div>
															<div class="user-info__basic">
																<h6 class="mb-0"><%= appointments.img_id %></h6>
																<h5 class="text-highlight mb-0"><%= appointments.first_name %> <%= appointments.middle_name %> <%= appointments.last_name %> <%= appointments.suffix %></h5>
																<p class="text-muted mb-0"><%= appointments.age %> yrs | <%= appointments.sex %>ㅤㅤㅤㅤㅤㅤ</p>
															</div>
														</div>

														<% if (appointments.appointment_status != "Cancelled") {%> 
															<div class="dropdown open">
																<a href="#!" class="px-2" id="b<%= appointments.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																	<i class="fa fa-ellipsis-v"></i>
																</a>
																<div class="dropdown-menu dropdown-menu-right" aria-labelledby="<%= appointments.id %>">
																	<form action="/approve-appointment?_method=PUT" method="POST">
																		<input type="text" name="_id" value="<%= appointments._id %>" hidden>
																		<input type="submit" class="dropdown-item" value="Approve Appointment">
																	</form>
																	<form action="/cancel-appointment?_method=PUT" method="POST">
																		<input type="text" name="_id" value="<%= appointments._id %>" hidden>
																		<input class="dropdown-item text-danger" type="submit" value="Cancel">
																	</form>
																</div>
															</div>
															<% } else { %> 
																<div class="dropdown open">
																	<a href="#!" class="px-2" id="<%= appointments.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																		<i class="fa fa-ellipsis-v"></i>
																	</a>
																	<div class="dropdown-menu dropdown-menu-right" aria-labelledby="<%= appointments.id %>">
																		<form action="/deactivate" method="POST">
																			<input type="text" name="_id" value="<%= appointments._id %>" hidden>
																			<input type="submit" class="dropdown-item text-danger" value="Remove">
																		</form>
																	</div>
																</div>
														<% } %>  
													</div>
													
														<center>
															<hr>
															<div class="mb-0"><p class="text-muted mb-0">Primary Phone</p></div>
															<div class="mb-3"><h5><%= appointments.phone %></h5></div>
															<div class="mb-0"><p class="text-muted mb-0">Secondary Phone</p></div>
															<div class="mb-3"><h5>123456789</h5></div>
														</center>
														
													<br>
													<div class="btn-records">
														<a class="button record-button" href="#!" id="triggerId1" data-toggle="modal" data-target="#a<%= appointments._id %><%= appointments.appointment_status %>" aria-haspopup="true" aria-expanded="false">View Appointment Info</a>
													</div>
													<hr>
														<div>
															<h5 class="mb-0"><%= appointments.time %>
																<small class="ml-1"><%= appointments.date %></small>
															</h5>
														</div>
														<% if(appointments.appointment_status == "Cancelled") {%> 
															<span class="text-warning font-weight-bold"><%= appointments.appointment_status %></span>
														<% }  else { %> 
															<span class="text-primary font-weight-bold"><%= appointments.appointment_status %></span>
														<% } %> 
													</div>
												</div>
					
											
											
											
										<!-- ============================
											Zoom Card
										============================== -->
					
					
										<div class="modal fade" id="a<%= appointments._id %><%= appointments.appointment_status %>" tabindex="-1" role="dialog">
											<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content">
												<div class="p-4">
													<div class="d-flex justify-content-between mb-4">
														<div class="user-info">
															<div class="user-info__img">
																	<img src="uploads/<%= appointments.img_id %>.png" alt="User Img" onerror="this.onerror=null;this.src='files/male-avatar.png';">
															</div>
															<div class="user-info__basic">
																<h6 class="mb-0"><%= appointments.img_id %></h6>
																<h2 class="text-highlight mb-0"><%= appointments.first_name %> <%= appointments.middle_name %> <%= appointments.last_name %> <%= appointments.suffix %></h5>
																<p class="text-muted mb-0"><%= appointments.age %> yrs | <%= appointments.sex %></p>
																<p class="text-muted mb-0"><%= appointments.phone %> | SecondNumber</p>
															</div>
														</div>

														<% if (appointments.appointment_status != "Cancelled") {%> 
															<div class="dropdown open">
																<a href="#!" class="px-2" id="b<%= appointments.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																	<i class="fa fa-ellipsis-v"></i>
																</a>
																<div class="dropdown-menu dropdown-menu-right" aria-labelledby="<%= appointments.id %>">
																	<form action="/approve-appointment?_method=PUT" method="POST">
																		<input type="text" name="_id" value="<%= appointments._id %>" hidden>
																		<input type="submit" class="dropdown-item" value="Approve Appointment">
																	</form>
																	<form action="/cancel-appointment?_method=PUT" method="POST">
																		<input type="text" name="_id" value="<%= appointments._id %>" hidden>
																		<input class="dropdown-item text-danger" type="submit" value="Cancel">
																	</form>
																</div>
															</div>
															<% } else { %> 
																<div class="dropdown open">
																	<a href="#!" class="px-2" id="<%= appointments.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																		<i class="fa fa-ellipsis-v"></i>
																	</a>
																	<div class="dropdown-menu dropdown-menu-right" aria-labelledby="<%= appointments.id %>">
																		<form action="/deactivate" method="POST">
																			<input type="text" name="_id" value="<%= appointments._id %>" hidden>
																			<input type="submit" class="dropdown-item text-danger" value="Remove">
																		</form>
																	</div>
																</div>
														<% } %> 
													</div>
													<h6>Symptoms:</h6>
														<p><%= appointments.exp_symptoms %></p>
														<hr>
														<h6>Prediagnostic COVID-19 Test Results:</h6>
														<p class="text-danger font-weight-bold"><%= appointments.pre_diagnose_result %></p>
														<p>Detected Symptoms = <%= appointments.symptoms_detected %></p>
													<div class="d-flex justify-content-between mt-4">
														<div>
														<h5 class="mb-0"><%= appointments.time %>
																				<small class="ml-1"><%= appointments.date %></small>
														</h5>
														</div>
														<% if(appointments.appointment_status == "Cancelled") {%> 
															<span class="text-warning font-weight-bold"><%= appointments.appointment_status %></span>
														<% }  else { %> 
															<span class="text-primary font-weight-bold"><%= appointments.appointment_status %></span>
														<% } %> 
													</div>
												</div>
											</div>
											</div>
										</div>
										<% } else if( appointments.pre_diagnose_result == "Possible COVID-19" && appointments.appointment_status == "Approved" && staff.branch == appointments.branch ) { %> 
											<div class="searchhide yes">
												<div class="card p-3 mb-4">
													<div class="d-flex justify-content-between mb-4">
														<div class="user-info">
															<div class="user-info__img">
																<img src="uploads/<%= appointments.img_id %>.png" alt="User Img" onerror="this.onerror=null;this.src='files/male-avatar.png';">
															</div>
															<div class="user-info__basic">
																<h6 class="mb-0"><%= appointments.img_id %></h6>
																<h5 class="text-highlight mb-0"><%= appointments.first_name %> <%= appointments.middle_name %> <%= appointments.last_name %> <%= appointments.suffix %></h5>
																<p class="text-muted mb-0"><%= appointments.age %> yrs | <%= appointments.sex %>ㅤㅤㅤㅤㅤㅤ</p>
															</div>
														</div>

														<% if (appointments.appointment_status != "Cancelled") {%> 
															<div class="dropdown open">
																<a href="#!" class="px-2" id="b<%= appointments.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																	<i class="fa fa-ellipsis-v"></i>
																</a>
																<div class="dropdown-menu dropdown-menu-right" aria-labelledby="<%= appointments.id %>">
																	<form action="/cancel-appointment?_method=PUT" method="POST">
																		<input type="text" name="_id" value="<%= appointments._id %>" hidden>
																		<input class="dropdown-item text-danger" type="submit" value="Cancel">
																	</form>
																</div>
															</div>
															<% } else { %> 
																<div class="dropdown open">
																	<a href="#!" class="px-2" id="<%= appointments.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																		<i class="fa fa-ellipsis-v"></i>
																	</a>
																	<div class="dropdown-menu dropdown-menu-right" aria-labelledby="<%= appointments.id %>">
																		<form action="/deactivate" method="POST">
																			<input type="text" name="_id" value="<%= appointments._id %>" hidden>
																			<input type="submit" class="dropdown-item text-danger" value="Remove">
																		</form>
																	</div>
																</div>
														<% } %>  
													</div>
													
														<center>
															<hr>
															<div class="mb-0"><p class="text-muted mb-0">Primary Phone</p></div>
															<div class="mb-3"><h5><%= appointments.phone %></h5></div>
															<div class="mb-0"><p class="text-muted mb-0">Secondary Phone</p></div>
															<div class="mb-3"><h5>123456789</h5></div>
														</center>
														
													<br>
													<div class="btn-records">
														<a class="button record-button" href="#!" id="triggerId1" data-toggle="modal" data-target="#a<%= appointments._id %><%= appointments.appointment_status %>" aria-haspopup="true" aria-expanded="false">View Appointment Info</a>
													</div>
													<hr>
														<div>
															<h5 class="mb-0"><%= appointments.time %>
																<small class="ml-1"><%= appointments.date %></small>
															</h5>
														</div>
														<% if(appointments.appointment_status == "Cancelled") {%> 
															<span class="text-warning font-weight-bold"><%= appointments.appointment_status %></span>
														<% }  else { %> 
															<span class="text-primary font-weight-bold"><%= appointments.appointment_status %></span>
														<% } %> 
													</div>
												</div>
					
											
											
											
										<!-- ============================
											Zoom Card
										============================== -->
					
					
										<div class="modal fade" id="a<%= appointments._id %><%= appointments.appointment_status %>" tabindex="-1" role="dialog">
											<div class="modal-dialog modal-dialog-centered" role="document">
											<div class="modal-content">
												<div class="p-4">
													<div class="d-flex justify-content-between mb-4">
														<div class="user-info">
															<div class="user-info__img">
																	<img src="uploads/<%= appointments.img_id %>.png" alt="User Img" onerror="this.onerror=null;this.src='files/male-avatar.png';">
															</div>
															<div class="user-info__basic">
																<h6 class="mb-0"><%= appointments.img_id %></h6>
																<h2 class="text-highlight mb-0"><%= appointments.first_name %> <%= appointments.middle_name %> <%= appointments.last_name %> <%= appointments.suffix %></h5>
																<p class="text-muted mb-0"><%= appointments.age %> yrs | <%= appointments.sex %></p>
																<p class="text-muted mb-0"><%= appointments.phone %> | SecondNumber</p>
															</div>
														</div>

														<% if (appointments.appointment_status != "Cancelled") {%> 
															<div class="dropdown open">
																<a href="#!" class="px-2" id="b<%= appointments.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																	<i class="fa fa-ellipsis-v"></i>
																</a>
																<div class="dropdown-menu dropdown-menu-right" aria-labelledby="<%= appointments.id %>">
																	<form action="/cancel-appointment?_method=PUT" method="POST">
																		<input type="text" name="_id" value="<%= appointments._id %>" hidden>
																		<input class="dropdown-item text-danger" type="submit" value="Cancel">
																	</form>
																</div>
															</div>
															<% } else { %> 
																<div class="dropdown open">
																	<a href="#!" class="px-2" id="<%= appointments.id %>" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
																		<i class="fa fa-ellipsis-v"></i>
																	</a>
																	<div class="dropdown-menu dropdown-menu-right" aria-labelledby="<%= appointments.id %>">
																		<form action="/deactivate" method="POST">
																			<input type="text" name="_id" value="<%= appointments._id %>" hidden>
																			<input type="submit" class="dropdown-item text-danger" value="Remove">
																		</form>
																	</div>
																</div>
														<% } %> 
													</div>
													<h6>Symptoms:</h6>
														<p><%= appointments.exp_symptoms %></p>
														<hr>
														<h6>Prediagnostic COVID-19 Test Results:</h6>
														<p class="text-danger font-weight-bold"><%= appointments.pre_diagnose_result %></p>
														<p>Detected Symptoms = <%= appointments.symptoms_detected %></p>
													<div class="d-flex justify-content-between mt-4">
														<div>
														<h5 class="mb-0"><%= appointments.time %>
																				<small class="ml-1"><%= appointments.date %></small>
														</h5>
														</div>
														<% if(appointments.appointment_status == "Cancelled") {%> 
															<span class="text-warning font-weight-bold"><%= appointments.appointment_status %></span>
														<% }  else { %> 
															<span class="text-primary font-weight-bold"><%= appointments.appointment_status %></span>
														<% } %> 
													</div>
												</div>
											</div>
											</div>
										</div>
										<% } %>
										<% }); %> 
										
									</div>

									<h5 class="text-muted mb-3">Cancelled Appointments</h5>	
									<div class="row justify-content-center" id="appointment-cancelled-yes"></div>
									<hr>
									<h5 class="text-muted mb-3">Completed Appointments</h5>	
									<div class="row justify-content-center" id="appointment-done-yes"></div>

								</section>
				

							</div>
							</div>
							</div>
					
					</section>
								
				</div>
						
			</section>
							<!-- END OF POSITIVE SECTION-->
					
				</div>
			</section>
			<% } %> 
		</main>
	<!-- NAVBAR -->
	
	<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

	<script src="assets/js/vendor/jquery/jquery.min.js"></script>
      <script src="assets/js/vendor/select2/select2.min.js"></script>
      <script src="assets/js/global.js"></script>
	  <script src="assets/js/script.js"></script>

	<!-- Patients JS -->

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>

	<script>
		window.onload = function(){
			var el = document.getElementsByClassName('toggle-sidebar');
			for (var i=0;i<el.length; i++) {
			el[i].click();
		}
		
		}
		</script>

<script>
	$(document).ready(function(){
		$('#search').keyup(function(){
		
		// Search text
		var text = $(this).val();
		
		// Hide all content class element
		$('.searchhide').hide();

		// Search 
		$('.searchhide:contains("'+text+'")').closest('.searchhide').show();
		
		});
	});

	$.expr[":"].contains = $.expr.createPseudo(function(arg) {
		return function( elem ) {
		return $(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
		};
	});
</script>

<script>
function showToday() {
var checkBox = document.getElementById("showTodayOnly");

if (checkBox.checked == true){

var objToday = new Date(),
dayOfMonth = today + ( objToday.getDate() < 10) ? '0' + objToday.getDate() : objToday.getDate(),
months = new Array('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'),
curMonth = months[objToday.getMonth()],
curYear = objToday.getFullYear();

var today = curMonth + " " + dayOfMonth + ", " + curYear;

// Hide all content class element
$('.searchhide').hide();

// Search 
$('.searchhide:contains("'+today+'")').closest('.searchhide').show();

} else {
$('.searchhide').show();

}
}
</script>

<script>
	$(document).ready(function(){
		
			
		$('.not:contains("Approved")').appendTo('#appointment-confirmed-not');
		$('.not:contains("Pending")').appendTo('#appointment-pending-not');
		$('.not:contains("Cancelled")').appendTo('#appointment-cancelled-not');
		$('.not:contains("Done")').appendTo('#appointment-done-not');
		
		$('.yes:contains("Approved")').appendTo('#appointment-confirmed-yes');
		$('.yes:contains("Pending")').appendTo('#appointment-pending-yes');
		$('.yes:contains("Cancelled")').appendTo('#appointment-cancelled-yes');
		$('.yes:contains("Done")').appendTo('#appointment-done-yes');


	});

	$.expr[":"].contains = $.expr.createPseudo(function(arg) {
		return function( elem ) {
		return $(elem).text().toUpperCase().indexOf(arg.toUpperCase()) >= 0;
		};
	});

</script>


</body>
</html>